.table_of_subscriptions{
  display: inline-block;
  width: 100%;
  top:30px;
  left:3%;
}
.table_of_subscriptions table{
  width: 90%;
  text-align: center;
  border-collapse: collapse;
}
.table_of_subscriptions table thead{
  background-color: #00ff00;
}
.table_of_subscriptions table th{
  height: 50px;
  color: white;
  font-size: 20px;
  font-family: cursive;
}
.table_of_subscriptions table tbody tr{
  height: 60px;
  font-family: monospace;
}
.table_of_subscriptions table tbody tr:hover{
  background-color: #f5f5f5;
}
.btn_to_subscript{
  background-color: white;
  color: #004b00;
  border: none;
  height: 60px;
  width: 100%;

}
.btn_to_subscript:hover{
  background: #f7f7f7 linear-gradient(#30f71b, #2bbc19);
  box-shadow: 0 1px 2px white;

}
