

  <table class="table table-hover">
    <thead class="thead-green">
    <tr>
      <th scope="col">ПОДПИСКА</th>
      <th scope="col">ОПИСАНИЕ</th>
      <th scope="col">ЦЕНА</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let subscript of subscripts">
      <td scope="row">{{subscript.name}}</td>
      <td>{{subscript.description}}</td>
      <td>{{subscript.pricePerDay}} RUB/д.</td>
      <td><button type="button" class="btn_to_subscript">Подписаться</button></td>
    </tr>
    </tbody>
  </table>



