<app-navbar></app-navbar>
<router-outlet></router-outlet>
<div class="jumbotron text-center">

  <h2 class="card-title h2">Приветствую вас на нашем сайте!</h2>
  <p class="blue-text my-4 font-weight-bold">Здесь вы можете подписаться на любой контент</p>

  <div class="row d-flex justify-content-center">

    <div class="col-xl-7 pb-2">

      <p class="card-text">Подписка — это сбор предварительных заказов на периодические издания (газеты, журналы),
        многотомные книжные издания и другие периодически обновляемые информационные продукты, а также продукты
        потребления и товары.</p>

    </div>

  </div>

  <hr class="my-4">

  <div class="pt-2">
    <button type="button" class="btn btn-blue waves-effect">Войти<span class="far fa-gem ml-1"></span></button>
    <button type="button" class="btn btn-outline-primary waves-effect">Подписки<i class="fas fa-download ml-1"></i>
    </button>
  </div>

</div>




