<div class="main">
  <div class="head">
    <div class="authorization" *ngIf="authorizedUser.id == null; else user_info">
    <div class="input">
        <input type="text" name="authLogin" [(ngModel)]="authorizedUser.login" #authLogin="ngModel" required
               onblur="if(this.value==''){this.value='Логин';}" onfocus="if(this.value=='Логин') {this.value='';}" value = "Логин">
      <div [hidden]="authLogin.valid || authLogin.untouched" class="alert alert-danger">Введите логин</div>
    </div>
    <div class="input">
        <input type="password" name="authPassword" [(ngModel)]="authorizedUser.password" #authPassword="ngModel" required
               onblur="if(this.value==''){this.value='Пароль';}" onfocus="if(this.value=='Пароль') {this.value='';}" value = "Пароль">
      <div [hidden]="authPassword.valid || authPassword.untouched" class="alert alert-danger">Введите пароль</div>
      </div>
    <div class="entrance_btns">
      <button type="button" class="btn_to_entrance" (click)="authorization()"
              [disabled]="authLogin.invalid || authPassword.invalid">Войти</button>
      <button type="button" class="btn_to_registration" (click)="_openModal(reg_template)">Регистрация</button>
    </div>
    </div>
    <ng-template #user_info>
      <div class="menu">
        <nav role='navigation'>
          <ul>
            <li>Подписки</li>
            <li *ngIf="authorizedUser.role == 'admin'">Пользователи</li>
            <li>Профиль</li>
            <li>Настройки</li>
            <li (click)="exit()">Выйти</li>
          </ul>
        </nav>
      </div>
    <div class="user_info">
      <p>{{authorizedUser.login}}</p>
      <p>Баланс: {{authorizedUser.balance}}</p>
    </div>
    </ng-template>
  </div>
 <app-subscript></app-subscript>
  <app-user *ngIf="authorizedUser.role == 'admin'"></app-user>
</div>

<ng-template #reg_template>
<div class="modal-header">
  <h4 class="modal-title pull-left">Регистрация</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="_closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
  <div class="modal-body">
    <div class="form-group">
      <label>Логин</label>
      <input class="form-control" name="regLogin" [(ngModel)]="addableUser.login" #login="ngModel" required>
      <div [hidden]="login.valid || login.untouched" class="alert alert-danger">Пожалуйста, введите логин</div>
    </div>
    <div class="form-group">
      <label>Пароль</label>
      <input type="password" name="regPassword" class="form-control" [(ngModel)]="addableUser.password" #password="ngModel" required>
      <div [hidden]="password.valid || password.untouched" class="alert alert-danger">Пожалуйста, введите пароль</div>
    </div>
    <div class="form-group">
      <label>Email</label>
      <input type="email" name="regEmail" class="form-control" [(ngModel)]="addableUser.email" #email="ngModel" required>
      <div [hidden]="email.valid || email.untouched" class="alert alert-danger">Ваш email не правильный</div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default"
            [disabled]="login.invalid || password.invalid || email.invalid">Зарегистрироваться
    </button>

  </div>

</ng-template>


