.main{
  width: 100%;
}

.head{
  float: right;
}
.head input{
  width: 100%;
  float:right;
  height: 30px;
  font-family: monospace;
  border-radius: 5px;
}
.head input:hover{
  background-color: #fdf5e6;
}
.btn_to_entrance{
  float: left;
}
.btn_to_registration{
  float: right;
}
.head button{
  display: inline-block;
  color: white;
  text-decoration: none;
  user-select: none;
  outline: none;
  border: 2px solid;
  border-radius: 1px;
  transition: 0.2s;
  background-color: #a9a9a9;
}
.head button:hover{
  background-color: #808080;
}
.modal_title{
  margin-top: 0;
}
.btn{
  background-color: #c9c9c9;
}

